/* Wrapper for the entire signup section */
.Wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

/* Container for the signup form */
.signup {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

/* Styling for the form heading */
.Wrapper h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form labels */
.signup label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

/* Input fields */
.signup input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}
 

 
/* Link to the login page */
.signup span {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.signup span a {
    color: #ffc727;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.signup span a:hover {
    color: #ebad00
}